*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color: #232b41;
  --secondary-color: #1a2037;

  --primary-bg-color: #2f3651;

  --strength-color: #22c55e;
  --weak-color: #f97316;
  --opport-color: #3b82f6;
  --threats-color: #ef4444;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: initial;
}

* {
  color: #9299c0;
}

main {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

.info-page {
  max-width: var(--info-page-max-width, 70vw);
  margin: 0 auto;
}

.info-page h1, .info-page h2, .info-page h3, .info-page h4, .info-page ul {
  margin-bottom: 20px;
}

.info-page p {
  margin-bottom: 12px;
}



@media (max-width: 767px) {
  :root {
    --info-page-max-width: 100%;
  }
}
