:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: initial;
}

* {
  color: #9299c0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a2037;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  padding: 24px;
  border-radius: 20px;
  background-color: #232b41;
  flex-grow: 1;
  max-width: 80%;
}

.sidebar {
  background-color: #1a2037;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  padding: 4px 8px;
}

.sidebar__item {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: transparent;
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.sidebar__item:hover {
  transform: scale(1.02);
  cursor: pointer;
  color: rgb(256 256 256);
}

.sidebar__item--active {
  background-color: #252a41;
}

.header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  gap: 8px;
}

.header__title {
  font-size: 24px;
  font-weight: 500;
}

.content {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  background: transparent;
}

.card {
  position: relative;
  height: 160px;
  padding: 16px;
  background-color: #1a2037;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  inset-inline-start: 10px;
  inset-block-start: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--card-color);
}

.card--0 {
  --card-color: #22c55e;
}

.card--1 {
  --card-color: #f97316;
}

.card--2 {
  --card-color: #3b82f6;
}

.card--3 {
  --card-color: #EF4444;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card--plus {
  background-color: #2f3651;
}
