* {
    color: #9299c0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a2037;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    padding: 24px;
    border-radius: 20px;
    background-color: #232b41;
    flex-grow: 1;
    max-width: 60%;
}

.sidebar {
    background-color: #1a2037;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    padding: 4px 8px;
}

.sidebar__item {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: transparent;
}

.sidebar__item--active {
    background-color: #252a41;
}

.header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header__left {
    display: flex;
    gap: 8px;
}

.content {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    background: transparent;
}


.card {
    height: 160px;
    background-color: #1a2037;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}